.category {
  position: relative;
  background: white;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  &:hover {
    transform: scale(1.05);
    transition: 0.2s;
  }

  &-icon {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    border-radius: 50%;
    padding: 2px;
    svg {
      fill: white;
      width: 20px;
      height: 20px;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));
    }
  }
  &-title {
    font-size: 8px;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: 500;
    width: 54px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-summ {
    text-align: center;
    font-size: 10px;
    font-weight: 300;
  }
  &-percent {
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    background: white;
    box-shadow: rgba(0,0,0,.3) 1px 1px 5px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    font-size: 7px;
    font-weight: 800;
    text-align: center;
  }
}
